
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 51px;
    height: 5px;
    border-radius: 2px;
    background: #ff9e00;
}
.swiper-initialized{
    position: relative;
    padding-top: 7rem;
}
.swiper-button-next{
    margin-top: 1rem;
    padding: 30px 24px;
    border-radius: 50%;
    color: rgb(214, 173, 111);
    background: #dddddda2;
    transition: background-color 0.4s ease-in-out;
    position:absolute ;
    top: 0;
    right: 0;

}
.swiper-button-next:hover {
    background: #f7f0e8;
    padding: 30px 24px;
    border-radius: 50%;
}
.swiper-button-next:hover::after{
    transform: translateX(6px);

}
.swiper-button-prev{
    margin-top: 1rem;
    padding: 30px 24px;
    border-radius: 50%;
    color: rgb(214, 173, 111);
    background: #dddddda2;
    transition: background-color 0.4s ease-in-out;
    position:absolute ;
    top: 0;
    left: 63rem;
}
.swiper-button-prev:hover {
    background: #f7f0e8;
    padding: 30px 24px;
    border-radius: 50%;
}
.swiper-button-prev:hover::after{
    transform: translateX(-6px);
}