.main{
    background-color:#F9F9F9;
    margin-top: 40px;
}
hr{
    width: 85%;
}
.privacy{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    color: rgb(86, 75, 75);
}
.container{
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 50px;
}
.first{
    width: 20%;
}
.first p{
    color: rgb(86, 75, 75);
}
.second{
    display: flex;
    justify-content: space-between;
}
.subContainer{
    display: flex;
    flex-direction: column;
    margin-left: 120px;

}
.subContainer a{
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(86, 75, 75);
}
.subContainer h3{
    margin-bottom: 2rem;
}